 header {
    background-color: blue ;
    color: aliceblue;
}


h2{
    background-color: yellow;
    color: black;
    
}
section{
    
    background-color: rgba(4, 131, 12, 0.882);
    
}

.titulo-secao{
    color:aliceblue;
    
}

footer{
    color: white;
    background-color: black;
}